# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\BaiduNetdiskDownload\imooc\382 - 技术+工具双角度优化编程效率实现Java高效编程（升级版）\02-下载\996\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
